<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
</head>
<body>
    <h1>Upload News Image</h1>
    <form id="newsForm">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="description">description:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="image">Choose Image:</label><br>
        <input type="file" id="image" name="image" accept="image/*" required><br><br>

        <input type="submit" value="Upload News">
    </form>

    <h1>Upload Banner Image</h1>
    <form id="bannerForm">
        <label for="title">Banner Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="description">Banner Description:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="bannerimg">Choose Banner Image:</label><br>
        <input type="file" id="bannerimg" name="bannerimg" accept="image/*" required><br><br>

        <label for="link">Banner Link:</label><br>
        <input type="url" id="link" name="link"><br><br>

        <input type="submit" value="Upload Banner">
    </form>

    <h1>Upload Employer Image</h1>
    <form id="employerForm">
        <label for="name">Employer Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="major">Employer major:</label><br>
        <input type="text" id="major" name="major" required><br><br>

        <label for="image">Choose Employer Image:</label><br>
        <input type="file" id="image" name="image" accept="image/*" required><br><br>

        <input type="submit" value="Upload Employer">
    </form>

    <h1>Upload Media</h1>
    <form id="mediaForm">
        <label for="title">Media Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="video">Choose Media File:</label><br>
        <input type="file" id="video" name="video" accept="video/*" required><br><br>

        <input type="submit" value="Upload Media">
    </form>

    <script src="upload.js"></script>
</body>
</html>
